<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<script src="/js/vendor/jquery-1.11.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="/js/angular/modules/infinite-scroll.js"></script>
		<link rel="stylesheet/less" href="/style/style.less">
	    <title>faketwitter</title>
	</head>
	<body ng-app="faketwitter" ng-view>
	</body>
	<script src="/js/angular/app.js"></script>
	<script src="/js/angular/connection/connection.js"></script>
	<script src="/js/angular/home/home.js"></script>
	<script src="/js/angular/profile/profile.js"></script>
	<script src="/js/vendor/less.js"></script>
</html>
